@media (max-width: 991.98px){
    .catalog__content{
        flex-wrap: wrap;
        gap: 20px;
    }
    .catalog__card{
        min-width: calc((100% - 40px) / 2);
    }
    .about__content{
        flex-direction: column;
    }
}
@media (max-width: 767.98px){
    .header__nav{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .catalog__content{
        justify-content: center;
    }
}
@media (max-width: 575.98px){
    .header__intro-title{
        font-size: 40px;
    }
    .header__intro-text{
        font-size: 20px;
        margin-top: 10px;
    }
    .header__intro-info{
        margin-top: 25px;
    }
    .about, .catalog, .contact{
        margin-top: 50px;
    }
    .contact__info{
        flex-direction: column;
        gap: 30px;
        margin-bottom: 54px;
    }
    .contact__info-right{
        width: 290px;
    }
}